<%- include('partials/header') %>
    <main>
      <div class="presentation-catalogue">
        <h2>Notre catalogue</h2>
        <img src="" alt="" />
      </div>
      <div class="voir-tout">
        <button>Voir tout le catalogue</button>
      </div>
      <% let i = 0; %>
      <% console.log(cafes); %>
      <% while (i < cafes.length - 1) { %>
        <% let y = 0 %>
        <div class="produits">
          <% while (y < 3) { %>
            <a href="/produit/<%= cafes[i].id %>">
              <div class="produit" style="background-image: url('/assets/coffees/<%- cafes[i].reference %>.png');">
                <img class="background-produit" src="" alt=""/>
                <p class="description-produit">
                  <%= cafes[i].name %>
                </p>
                <button class="bouton-decouvrir">Découvrir</button>
              </div>
            </a>
            <% y++; %>
            <% i++; %>
          <% } %>          
        </div>
      <% } %>
      
    </main>
    <%- include('partials/footer') %>
