<%- include('partials/header') %>
    <main>
      <div class="illustration">
        <img src="/assets/coffees/<%= cafe.reference %>.png" alt="" />
      </div>
      <div class="details-produit">
        <header class="header-produit">
          <h2><%= cafe.name %></h2>
          
          <p class="origine">Origine : <%= cafe.origine %></p>
          <p class="prix"><%= cafe.prix_kg %> &euro; le kg</p>
          <% if (cafe.disponible === "Oui") { %>
            <p class="disponibilite">En stock</p>
          <% } else { %>
            <p class="disponibilite">Rupture</p>
          <% } %>
        </header>
        <p class="description-produit">
          <%= cafe.description %>
        </p>
        <a href="/catalogue"><button class="bouton-catalogue">Catalogue</button></a>
        
      </div>
    </main>
    <%- include('partials/footer') %>
